.creator-img {
  width: 95%;
  padding: 14px;
}

.creator-container {
  width: 100%;
  background-color: #003a39;
  display: flex;
  align-items: center;
  justify-content: center;
}

.withLogo {
  background-color: white;
}

.creator-title {
  font-style: italic;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 20px 0px 5px 10px;
  font-weight: bold;
  overflow-x: hidden;
  color: #003a39;
}

.creator-buttons {
  width: 100%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.creator-description {
  width: 90%;
  margin: 10px auto 30px auto;
  line-height: 30px;
  background-color: white;
  color: rgb(151, 149, 149);
}

.creator-btn {
  font-size: 13px;
  font-style: italic;
  background-color: #8dacad;
  color: #ffffff;
  margin: 20px auto 0px auto;
  padding: 15px 0px;
  width: 80%;
  border-radius: 40px;
  border: none;
}

.creator-btn:hover {
  cursor: pointer;
  background-color: #9bbfc0;
}

@media only screen and (min-width: 950px) {
  .creator-container {
    width: 65%;
    margin: 0 auto;
  }

  .creator-btn {
    width: 20%;
    margin: 20px auto 0px 250px;
  }

  .creator-title {
    padding-left: 250px;
  }

  .creator-description {
    width: 65%;
  }
}
