.creator-img {
  width: 100%;
}

.creator-container {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creator-title {
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  margin: 0;
  padding: 10px 0px 5px 10px;
  font-weight: bold;
  overflow-x: hidden;
}

.creator-description {
  width: 90%;
  color: white;
  margin: 0px auto 30px auto;
  line-height: 30px;
}

.creator-btn {
  font-size: 13px;
  background-color: #8dacad;
  color: #ffffff;
  margin-left: 20px;
  margin-bottom: 5px;
  padding: 10px 15px;
  height: 45px;
  border-radius: 40px;
  border: none;
}

.creator-btn:hover {
  cursor: pointer;
  background-color: #9bbfc0;
}

@media only screen and (min-width: 950px) {
  .creator-container {
    width: 65%;
    margin: 0 auto;
  }
  .creator-title {
    padding-left: 250px;
  }
  .creator-btn {
    margin-left: 40px;
  }

  .creator-description {
    width: 65%;
  }
}
