.bio-container {
  margin-top: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bio-title {
  margin-top: 60px;
  color: #718a8a;
  font-size: 35px;
  font-weight: 100;
}

.bio-img {
  width: 100%;
}

.bio-p-container {
  width: 90%;
  margin: 70px auto;
}

.bio-p {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 30px;
}

@media only screen and (min-width: 768px) {
  .bio-img {
    width: 65%;
  }

  .bio-title {
    margin-bottom: -40px;
  }

  .bio-p-container {
    width: 60%;
  }
}
