.colab-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.colab-title {
  width: 80%;
  margin-top: 160px;
  text-align: center;
  color: #8dacad;
  font-size: 35px;
  font-weight: 100;
}

.colab-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.colab-block {
  margin: 10px 20px;
}

.colab-subtitle {
  color: #8dacad;
  font-weight: bolder;
  margin-right: 5px;
}

.colab-desc a {
  text-decoration: none;
}

.colab-subtitle:hover {
  cursor: pointer;
  color: #7d9c9e;
}

.colab-desc {
  display: flex;
  align-items: center;
}

.colab-spans {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 200px;
}

.right-arrow {
  width: 20px;
  color: #8dacad;
  padding-top: 3px;
}

.colab-imgs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  width: 100%;
  min-height: 250px;
  padding: 5px 0px;
  background-color: #003a39;
  flex-wrap: wrap;
}

.colab-img {
  width: 100%;
  margin: 5px;
  border-radius: 4px;
}

.img-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.img-modal-container {
  max-width: 90%;
  position: relative;
}

.img-insidemodalcontainer {
  max-width: 100%;
  max-height: 400px;
}

.cross {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 2px;
  color: #003a39;
  width: 12px;
  transition: all 1s ease;
  border-radius: 50%;
}

.cross:hover {
  cursor: pointer;
  width: 20px;
}

@media only screen and (min-width: 768px) {
  .colab-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .colab-imgs {
    margin-top: 40px;
    flex-direction: row;
  }

  .colab-img {
    width: auto;
    height: 220px;
    margin: 5px 2px;
  }

  .colab-img:hover {
    height: 230px;
    cursor: pointer;
  }

  .img-modal-container {
    margin: auto;
    max-height: 50%;
    position: relative;
  }

  .img-insidemodalcontainer {
    max-width: 100%;
    max-height: 500px;
  }

  .cross {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 2px;
    color: #003a39;
    width: 30px;
    transition: all 1s ease;
    border-radius: 50%;
  }

  .cross:hover {
    cursor: pointer;
    width: 40px;
  }
}
