.master-container {
  margin-top: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.master-block {
  width: 100%;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.master-title {
  color: #718a8a;
  font-size: 35px;
  font-weight: 100;
  margin-top: 45px;
  margin-bottom: -60px;
}

.master-img {
  width: 100%;
}

.master-p {
  width: 90%;
  margin: 50px auto;
  line-height: 35px;
}

.master-text {
  margin: 50px auto;
  padding: 4px;
}

.bottom-text {
  margin: 0px auto;
}

.colorize {
  background-color: #718a8a;
  color: white;
  font-weight: bold;
}

.btn-long {
  border: none;
  background-color: inherit;
  color: #003a39;
}

.btn-long:hover {
  cursor: pointer;
}

.courses {
  margin-top: 60px;
  color: #003a39;
}

.courses:hover {
  cursor: pointer;
  color: #046261;
}

.myButton {
  margin: 100px 0 20px 0;
	background-color: #003a39;
	border-radius: 28px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	padding: 16px 25px;
	text-decoration: none;
	text-shadow: 0px 0px 0px #2f6627;
}

.myButton:hover {
	background-color: #064d4b;
}

.myButton:active {
	position: relative;
	top: 1px;
}

@media only screen and (min-width: 768px) {
  .master-block {
    width: 100%;
  }

  .master-img {
    width: 85%;
    margin: 50px auto;
  }
  .master-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .master-p {
    width: 90%;
  }

  .courses {
    margin-top: 20px;
  }

  .myButton {
    margin: 50px 0 20px 0;
  }
}
