.master-container {
  margin-top: 115px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.master-block {
  width: 100%;
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.master-title {
  color: #718a8a;
  font-size: 35px;
  font-weight: 100;
  margin-bottom: -60px;
}

.master-img {
  width: 100%;
}

.master-p {
  width: 90%;
  margin: 50px auto;
  line-height: 35px;
}

.master-text {
    margin: 50px auto;
}

.colorize {
  background-color: #718a8a;
  color: white;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .master-block {
    width: 100%;
  }

  .master-img {
    width: 65%;
    margin: 50px auto;
  }
  .master-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .master-p {
    width: 90%;
  }
}
